# Vagrant
**/.vagrant

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Ansible
**/*.retry

# Terraform
**/*tfstate.backup
**/*tfstate.*.backup
**/*.log
